BACKUP_TYPE='directory' || 'database'
#cron job patter ->  https://elysiajs.com/plugins/cron#pattern https://crontab.guru/examples.html
CRON_FREQUENCY='* * * * *'
DATABASE_NAME='adatabasename'
DATABASE_USER='auser'
DATABASE_PASSWORD='qwertyy'
DIR_PWD='/Users/dej10/PP/side'
